
#div1{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, blue, greenyellow);
}
#div2{
    padding: 10px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 80px;
    background: radial-gradient(circle farthest-corner, orange, red);
}
#back-img{
  
    
}